
*.class

Arbeitsblatt1/.classpath

Aufgaben/.classpath

SomeTest/.idea/saveactions_settings.xml

password_gen/.idea/

C#/CC_HandyApp/.idea/.idea.CC_HandyApp/.idea/codeStyles/

C#/CC_HandyApp/.idea/.idea.CC_HandyApp/.idea/

C#/CC_HandyApp/.idea/.idea.CC_HandyApp/

C#/CC_HandyApp/CC_HandyClass/obj/Debug/netcoreapp3.1/

C#/CC_HandyApp/CC_HandyApp/obj/

C#/CC_HandyApp/CC_HandyApp/bin/Debug/netcoreapp3.1/

C#/CC_HandyApp/CC_HandyClass/bin/Debug/netcoreapp3.1/

C#/CC_HandyApp/CC_HandyClass/obj/
